<div class="row">
  <div class="col s12 m6 offset-m3">
    <center><p id="notice"><%= notice %></p></center>
    <center><h1>New Ticket</h1></center>
    <%= render 'form', ticket: @ticket %>
  </div>
</div>
